{{template "header" .}}
<body>
<h1>Templete parse</h1>
<span>this app is so cool</span>
<p>it’s straight up magic</p>
<p>Hello {{ .user.Name }}</p>
<span class="highlight">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
</span>
</body>
{{template "footer"}}
</html>

